.quick-gen-wrapper {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, .5);
  z-index: 9999999999;
}

.quick-gen-box {
  padding: 16px;
  width: 256px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px #666;
  box-sizing: content-box;
}

.quick-gen-close {
  position: absolute;
  height: 26px;
  width: 26px;
  border-radius: 50px;
  background: #fff;
  right: 0;
  top: 0;
  transform: translate(50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 2px #000;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
}

.quick-gen-title {
  margin: 0 0 16px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.4;
  background: #eee;
  padding: 5px;
  border-radius: 4px;
  word-break: break-all;
}